mgmt_account = "111111111111"
mgmt_account_alias = "MasterAccount"
tenant_accounts = "111111111112,111111111113,111111111114"
tenant_names = "test2,test3,test4"
sender = "skippy@email.com"
recipients = "mamby@email.com,pamby@email.com"
schedule_expression = "cron(5 3 ? * MON-FRI *)"
